* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url("../images/128744.jpg");
    background-size: cover;
    font-family: "Fira", serif;
    height: calc(100% - 1px);
    margin: 0;
}

div {
    margin: 2px;
}

form {
    width: 100%;
    margin-bottom: 2%;
}

p {
    margin: 0.5em;
}

table {
    border: solid 2px black;
    border-collapse: collapse;
}

th, td {
    border: solid 1px black;
    padding: 3px;
}

.select-container {
    margin-left: 0.5em;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 4px;
    justify-content: space-between;
}

.round_container {
    border: solid 2px black;
    border-radius: 4px;
}

.blured_container {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    & p {
        margin: auto;
    }

    padding: 5px;

    box-shadow: 0 -20px 100px black ;

    /* setup font in header by task */
    font-family: serif;
    color: #2f2f2f;
    font-size: 16px;

    height: fit-content; /* auto size for header */
    background-color: rgba(255, 235, 205, 0.2);
}

#main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: auto;
    align-content: flex-start;
}

#choose {
    float: left;
    width: fit-content;
    background-color: #d5d5d570;
    height: fit-content;
}

#graph {
    display: flex;
    height: fit-content;
    width: fit-content;
}

#footer {
    & p {
        margin: auto;
    }

    color: #CCCCCC;

    padding: 5px;

    height: fit-content; /* also for footer */
    background-color: rgba(255, 235, 205, 0.2);
}

#result_table {
    padding: 2px;
    width: fit-content;
    height: fit-content;
}

select {
    padding: 2px;
    border-radius: 4px;
    box-shadow: 1px 1px 0 black;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #F0D6A3;
    border: solid 1px black;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    padding: 2px 6px;
    cursor: pointer;
}

input[type=text] {
    padding: 2px;
    background-color: #d7d7d7;
    border: solid 1px black;
    border-radius: 2px;
}

#submit-container {
    padding: 0 4px;
    display: flex;
    justify-content: right;
}